@import
url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Colors */
$base-color: #023441;
$base-bg: #61dbfb;
$hover-color: #618efb;
$border-color: #8161fb;
$header-bg: #05be2c;
$header-color: #fff;

/* Others */
$shadow: 1px 1px 5px 1px darken($base-color, 20%);
$text-shadow: 1px 1px 1px darken($base-color, 10%);
$hover-text-shadow: 2px 2px 2px darken($base-color, 20%);
$border: 1px solid darken($border-color, 50%);

/* global */
html {
  font-family: "IBM Plex Serif", serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-color;
  background: $base-bg;
}

h1 {
  text-align: center;
}

.wrap {
  border: $border;
  box-shadow: $shadow;
  background: $header-bg;
  color: $header-color;
  width: calc(100vw - 100px);
  margin: auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.max {
  width: calc(100vw - 50px);
  margin: 10px 0;
  overflow: hidden;
  z-index: 2;
  textarea#editor {
    resize: none;
    height: calc(100vh - 50px);
  }
  iframe#preview {
    height: calc(100vh - 50px);
  }
}

.hide {
  display: none;
}

.toolbar {
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  text-shadow: $text-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow;

  h2 > i {
    margin-right: 10px;
  }

  i.fa-2x {
    cursor: pointer;
    &:hover {
      color: $hover-color;
      text-shadow: $hover-text-shadow;
    }
  }
}

/* editor */
#editor {
  width: calc(100% - 10px);
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding: 10px 0 0 9px;
  margin: 0 auto -5px;
}

textarea {
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  background: lighten($base-bg, 25%);
  color: $base-color;
}

/* preview */
#preview {
  @extend textarea;
  min-height: 200px;
  padding-top: 5px;
  margin-bottom: -5px;
  height: 400px;
  color: #023441;
  overflow-wrap: break-word;
  font-family: "Raleway", sans-serif;
  font-size: 1.05em;
  padding: 8px;
  overflow: hidden auto;

  blockquote {
    border-left: 3px solid #012028;
    color: #045c72;
    padding-left: 5px;
    margin-left: 25px;
  }
  code {
    background: white;
    padding: 1px 4px 2px 4px;
    font-size: 0.9em;
    font-weight: bold;
  }
  pre {
    background: white;
    padding: 5px 0 5px 5px;
  }
  h1 {
    text-align: left;
    border-bottom: 2px solid #000c10;
  }
  h2 {
    border-bottom: 1px solid #000c10;
  }
  table {
    border-collapse: collapse;
  }
  td,
  th {
    border: 2px solid #000c10;
    padding-left: 5px;
    padding-right: 5px;
  }
  img {
    width: 200px;
  }
}

.overlay {
  background-image: linear-gradient(
    to left,
    rgba(2, 52, 65, 0.8),
    rgba(2, 52, 65, 0.9)
  );
}
